body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: bottom;
}

.modal-content {
  background-color: rgba(207, 209, 62, 0.52);
  padding: 50px;
  border-radius:5px;
}

.close {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
}

.close:hover {
  color: red;
}